h1{
    color:darkblue;
}
h2{
    color:cornflowerblue
}
* {
    padding: 0;
    margin: 0;
}
header, section {
    background-color: rgb(226, 234, 244);
    border: 5px rgb(201, 220, 244) dashed;
    padding:0.5%;
    margin:0.5%;
} 
header a {
    text-decoration:none;
}
header a:hover{
    text-decoration: underline;
}
header li {
    display: inline;
    margin-right: 4vw;
}

header ul {
    position:absolute;
    right:5vw;
    top:0.5vw;
}
.first {
    background-color: white;
    height: 20vh;
    background-image: url(Yf.png);
    background-repeat: no-repeat;
    background-position: center;
}
.second {color:aliceblue;
    font-size: 50px;
    height: 60vh;
    background-color: rgb(201, 225, 248);
    background-image: url(daytime.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: center;
    justify-content: center;
}
.apart {
    color:rgb(153, 186, 247);
    font-size: 30px;
    display: flex;
    background-image: url(nightime.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    display: flex;
    background-color: rgb(181, 209, 247);
    align-items: center;
    justify-content: center;

}
.third {
    color:rgb(3, 3, 102);
    display:flex;
    height: 70vh;
    background-image: url(fgo塔喵b幕间截图.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:  30px;}
