h1{
    color:darkblue;
}
h2{
    color:cornflowerblue
}
* {
    padding: 0;
    margin: 0;
}
header, section {
    background-color: rgb(226, 234, 244);
    border: 10px rgb(201, 220, 244) dashed;
    padding:10px;
    margin:0.5%;
} 
header a {
    text-decoration:none;
}
header a:hover{
    text-decoration: underline;
}
header li {
    display: inline;
    margin-right: 4vw;
}

header ul {
    position:absolute;
    right:5vw;
    top:0.5vw;
    <img src="Yf.png">
}
.first {
    background-color: white;
    height: 20vh;
    background-image: url(pic/Yf.png);
    background-repeat: no-repeat;
    background-position: center;
}
.second p{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:  30px;
    line-height: 1.8;
}
.apart {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.third {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:  30px;}
